
.wacard {
    background-color: #25D366 !important;
    padding: 15 0 5 0;
}
.btn.btn-primary-wa {
    background-color: white !important;
    color: #25D366 !important;
    border-color: white !important;
}
.btn-primary-wa:hover {
    color: white !important;
    background-color: #25D366 !important;
    border-color: white !important;
}
.wacolor {
    color: white;
    font-weight: 600;
}